<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Team</h2>
			<p>Ein Projekt des Exzellenzclusters Bild Wissen Gestaltung mit freundlicher Unterstützung des Instituts für Physik und des IRIS Adlershof der Humboldt-Universität zu Berlin</p>
		</header>
		<ul class="features">
			<li class="icon fa-file-text-o">
				<h3>Autoren und Kuratoren</h3>
				<p><a href="https://www.culture.hu-berlin.de/ck" target="_blank">Prof. Dr. Christian Kassung</a><br /><a href="https://www.physik.hu-berlin.de/de/pmm/jprabe" target="_blank">Prof. Dr.  Jürgen P. Rabe</a><br /><a href="https://www.mathematik.hu-berlin.de/~staudacher/" target="_blank">Prof. Dr. Matthias Staudacher</a><br /><a href="https://www.interdisciplinary-laboratory.hu-berlin.de/en/content/stefan-zieme/" target="_blank">Dr. Stefan Zieme</a></p>
			</li>
			<li class="icon fa-pencil">
				<h3>Ausstellungsgestaltung | Architektur und Grafik</h3>
				<p><a href="https://franziskapaul.com/" target="_blank">Dipl.-Ing. Franziska J. Paul</a></p>
			</li>
			<li class="icon fa-code">
				<h3>Programmierung</h3>
				<p><a href="https://www.htw-berlin.de/hochschule/personen/person/?eid=9094" target="_blank">M.Sc. Michael Droste</a></p>
			</li>
			<li class="icon fa-print">
				<h3>3D-Druck</h3>
				<p><a href="https://www.kulturtechnik.hu-berlin.de/de/content/julia-blumenthal/" target="_blank">Dipl.-Des. Julia Blumenthal</a></p>
			</li>
			<li class="icon fa-wrench">
				<h3>Ausstellungsbau</h3>
				<p><a href="http://www.spleenworks.com/" target="_blank">SpleenWorks&copy;</a></p>
			</li>
			<li class="icon fa-money">
				<h3>Sponsoring</h3>
				<p>Exzellenzcluster Bild Wissen Gestaltung<br />Kultur-, Sozial- und Bildungswissenschaftliche Fakultät<br />IRIS Adlershof</p>
			</li>
		</ul>
	</div>
</section>
